<div class="row">
	<div class="AjoutAvance-title">
		<h1>Creation Demande Avance</h1>
	</div>
</div>
<div class="row">
	<div class="AjoutAvance-form">
		<form>

		  <div class="form-group">
		    <label for="matricule">Matricule:</label>
		    <input type="text" class="form-control" id="matricule" ng-model="demande.matricule">
		  </div>

		  <div class="form-group">
		    <label for="annee">Année:</label>
		    <input type="text" class="form-control" id="annee" ng-model="demande.annee">
		  </div>

		  <div class="form-group">
		    <label for="mnt_demande">Montant demande:</label>
		    <input type="text" class="form-control" id="mnt_demande" ng-model="demande.mnt_demande">
		  </div>

		  <div class="form-group">
		    <label for="mnt_accorde">Montant accordé:</label>
		    <input type="text" class="form-control" id="mnt_accorde" ng-model="demande.mnt_accorde">
		  </div>

		  <div class="form-group">
		    <label for="interet">Interet:</label>
		    <input type="text" class="form-control" id="interet" ng-model="demande.interet">
		  </div>

		  <div class="form-group">
		    <label for="mnt_mensuel">Montant mensuel:</label>
		    <input type="text" class="form-control" id="mnt_mensuel" ng-model="demande.mnt_mensuel">
		  </div>

		  <div class="form-group">
		    <label for="objet">Objet:</label>
		    <input type="text" class="form-control" id="objet" ng-model="demande.objet">
		  </div>

		  <div class="form-group">
		    <label for="etat">Etat:</label>
		    <input type="text" class="form-control" id="etat"  value="en attente" ng-disabled="true">
		  </div>

		  <button type="submit" class="btn btn-dangert" ng-click="cancel()">Annuler</button>
		  <button type="submit" class="btn btn-success" ng-click="save()">Créer</button>
		</form>
	</div>
</div>