<div class="row">
  <div class="Avances-addAvance">
    <button type="button" class="btn btn-info" onclick="location.href='#!/avances/add'">
      <span class="glyphicon glyphicon-plus"></span> Ajouter une demande
    </button>
  </div>
</div>
<div class="row" style="padding-right: 20px">
  <div class=".col-md-4 pull-right">
    <div class="Avances-search">
      <span>Search</span>
      <input type="text" name="" placeholder="Search" ng-model="querry">
    </div>
  </div>
</div>
<div class="row">
  <div class="Avances-table">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Matricule</th>
          <th scope="col">Année</th>
          <th scope="col">Montant Demandé</th>
          <th scope="col">Montant Accordé</th>
          <th scope="col">Interet</th>
          <th scope="col">Montant Mensuel</th>
          <th scope="col">Objet</th>
          <th scope="col">Etat</th>
          <th scope="col" ng-if="isAdmin">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="av in avances | filter:{matricule:querry}" ng-class="{'danger': av.etat === 'refusée', 'success': av.etat === 'acceptée', 'info': av.etat === 'en attente' }">
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{av.matricule}}</td>
          <td>{{av.annee}}</td>
          <td>{{av.mnt_demande}}</td>
          <td>{{av.mnt_accorde}}</td>
          <td>{{av.interet}}</td>
          <td>{{av.mnt_mensuel}}</td>
          <td>{{av.objet}}</td>
          <td>{{av.etat}}</td>
          <td ng-if="isAdmin">
            <button type="button" class="btn btn-success" ng-if="av.state ==='en attente'"
            ng-confirm-click="Vous êtes sur d\'accepter cette demande?" confirmed-click="accepter(av.id)">Accepter</button>
            <button type="button" class="btn btn-danger" ng-if="av.state ==='en attente'"
            ng-confirm-click="Vous êtes sur de refuser cette demande?" confirmed-click="refuser(av.id)">Refuser</button>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
  
</div>
<div class="row">
  <div class="Avances-pagination">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
