<div class="row">
	<div class="EditPersonel-title">
		<h1 ng-if="personel">Modification du personel</h1>
		<h1 ng-if="!personel">Ajouter un personel</h1>
	</div>
</div>
<div class="row">
	<div class="EditPersonel-form">
		<form>
		  <div class="form-group">
		    <label for="name">Nom & Prénom</label>
		    <input type="text" class="form-control" id="name" ng-model="personel.name">
		  </div>

		  <div class="form-group">
		    <label for="matricule">Matricule</label>
		    <input type="text" class="form-control" id="matricule" ng-model="personel.registrationNumber">
		  </div>

		  <div class="form-group">
		    <label for="situationFamiliale">Situation Familiale</label>
		    <select class="form-control">
			  <option>Célibataire</option>
			  <option>Marié(e)</option>
			  <option>Divorcé(e)</option>
			</select>
		  </div>

		  <div class="form-group">
		    <label for="nombreEnfants">NB. Enfants</label>
		    <input type="text" class="form-control" id="nombreEnfants" ng-model="personel.childenCount">
		  </div>

		  <div class="form-group">
		    <label for="grade">Grade</label>
		    <input type="text" class="form-control" id="grade" ng-model="personel.grade">
		  </div>

		  <div class="form-group">
		    <label for="recruitementDate">Recruté(e) le</label>
		    <input type="text" class="form-control" id="recruitementDate" ng-model="personel.recruitementDate">
		  </div>

		  <div class="form-group">
		    <label for="position">Position</label>
		    <input type="text" class="form-control" id="position" ng-model="personel.position">
		  </div>

		  <button class="btn btn-dangert" ng-click="cancel()">Annuler</button>
		  <button type="submit" class="btn btn-success" ng-click="save()">Sauvegarder</button>
		</form>
	</div>
</div>