/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.Login-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Login-container h2 {
	text-align: center;
}

.Login-formContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#loginForm {
	width: 360px;
	border: 1px solid #ccc;
	padding: 10px 10px; 
}

#username, #password {
	width: 300px;
}

.View {
	padding: 0 10px;
	margin: 0 20px;
	background-color: rgb(255, 255, 255);
}

.Personel-title {
	padding: 10px 0 10px 30px;
	border-bottom: 1px solid black;
}

.Personel-titleLabel {
}

.Personel-addPersonel, .Avances-addAvance  {
	padding: 15px 0 15px 30px;
}

.Avances-search input{
	padding: 0 10px;
}

.Avances-pagination {
	padding-left: 30px;
}

body {
	background-color: rgb(229, 231, 234);
}

.AppContainer {
	background-color: rgb(229, 231, 234);
}

.Personel-table, .Avances-table, .Amortissement-table {
	padding: 0 30px;
}

#AppNavbar {
	background-color: rgb(20, 168, 128);
}

.navbar-default .navbar-nav>li>a {
	color: rgb(255, 255, 255);
}

#logoutButton {
	padding: 10px; 
} 

.Pilotage-labels {
	padding: 15px 0;
	float: none;
  margin: 0 auto;
  display: flex;    
  flex-direction: row;
  justify-content: center;
}

.Pilotage-labels div {
	margin: 0px 10px;
}

.Amortissement-firstLine, .Amortissement-secondLine {
	padding: 15px 15px;
}

.Amortissement-firstLine span {
	padding-right: 30px;
}

.Amortissement-firstLine input {
	margin-right: 20px;
}

.Amortissement-secondLine span {
	padding-right: 37px;
}

.Amortissement-secondLine input {
	margin-right: 20px;
}

.AjoutAvance-title, .AjoutAvance-form, .EditPersonel-title, .EditPersonel-form {
	padding: 10px 500px 10px 30px;
}
