/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.View {
	padding: 10px 0;
}

.Personel-title {
	border-bottom: 1px solid black;
}

.Personel-titleLabel {
	padding: 0 0 15px 30px;
}

.Personel-addPersonel {
	padding: 15px 0 15px 12px;
}

body {
	background-color: rgb(229, 231, 234);
	padding: 0 20px
}

.AppContainer {
	background-color: rgb(255, 255, 255);
}

.Personel-table {
	padding: 0 30px;
}